<div class="navi_top_div">
      
    <img src="/assets/logo.svg" class="nav_logo_svg"/>
   
        </div>
         <div class="navi_bottom_div">
    <div class="movieDetailsDiv">
        <div class="moviesDetailImgDiv">
        <img src="assets/icon-nav-home.svg" class="navImg" onclick="home()"/>
        <img src="assets/icon-nav-movies.svg" class="navImg" onclick="movies()"/>
        <img src="assets/icon-nav-tv-series.svg" class="navImg" onclick="series()"/>
        <img src="assets/icon-nav-bookmark.svg" class="navImg" onclick="bookmark()"/>
    </div>
    </div>
           <div class="userImg">
            <img src="assets/image-avatar.png" class="avatar_img"/>
           </div>   
          
           
         </div>
    
        