<div class="videoContainer">
    <div class="crossDiv">
        <i class="fa-solid fa-xmark mark" onclick="stopVideo()"></i>
    </div>
    <div class="videoDiv">
        <video width="1900" height="800" controls autoplay >
            <source src="" type="video/mp4" id="source">
          </video>
          
    </div>
</div>